.main {
  min-height: 100vh;
  /* padding: 0.625rem; */
  padding-bottom: 3.125rem;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fefefe;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 11.25rem; */
  /* flex-direction: column; */
}
.header {
  text-align: center;
  position: relative;
  font-family: "Inter" sans-serif;
  text-transform: uppercase;
  padding: 0.625rem 0rem;
  /* margin-left: 3.125rem; */
  font-size: 80px;
  margin-top: 2.5rem;
  z-index: 1;
  background: rgb(37, 1, 115);
  background: radial-gradient(
    circle,
    rgba(37, 1, 115, 1) 1%,
    rgba(53, 1, 138, 1) 10%,
    rgba(85, 24, 155, 1) 24%,
    rgba(172, 48, 130, 1) 35%,
    rgba(211, 39, 82, 1) 71%,
    rgba(253, 29, 29, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.who_am_i {
  max-width: 31.25rem;
  display: flex;
  margin-top: -1.25rem;
  font-size: 20.8px;
  /* letter-spacing: 0pt; */
  font-family: "Inter" sans-serif;
  padding: 0.625rem 0.3125rem;
  margin-left: 2.5rem;
  background: -webkit-linear-gradient(
    0deg,
    rgb(28, 28, 28) 1%,
    rgb(31, 31, 31) 10%,
    rgb(43, 43, 43) 24%,
    rgb(46, 46, 46) 35%,
    rgb(50, 50, 50) 71%,
    rgb(52, 52, 52) 100%,
    rgb(30, 30, 30) 100%
  );
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-align: center; */
}

.box {

  backdrop-filter: blur(0.625rem) saturate(120%);
  -webkit-backdrop-filter: blur(0.625rem) saturate(120%);
  background-color: rgba(234, 234, 234, 0.874);

  border-radius: 0.75rem;
  border-radius: 0.625rem;
  margin-top: 3.125rem;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 21.875rem;
  min-height: 18.125rem;
  position: relative;
}
.blue {
  border: 0.225rem solid #11baaf;
}
.sub_heading {
  font-size: 35.2px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter" sans-serif;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.125rem #414141;

  /* text-stroke: 0.25rem navy; */
}

.sub_content {
  padding-top: 0.625rem;
  font-size: 1rem;
  text-align: justify;
  line-height: 20.8px;
  /* color: #cbcbcb; */
  color: #2c2c2c;
  /* background: -webkit-linear-gradient(90deg, #262626, #616161); */
  /* -webkit-text-stroke: #9a9a9a; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

@media (max-width: 50rem) {
  .header {
    /* margin-left: 1.5625rem; */
    font-size: 72px;
  }
}
@media (max-width: 37.5rem) {
  .header {
    /* margin-left: 1.5625rem; */
    font-size: 56px;
  }
  .sub_heading {
    font-size: 28.8px;
  }
  .who_am_i {
    margin-left: 1.5625rem;
    font-size: 17.6px;
  }
}
