.main {
  width: 18.75rem;
  position: absolute;
  margin: 0 auto;
  padding: 0.625rem;
  margin-top: 4.375rem;
  left: 4.375rem;
  top:30%;
  /* bottom: 50%; */
  /* text-align: justify; */
  font-family: "Inter", sans-serif;
  padding: 0.3125rem;
}
.header {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
  color: rgb(210, 210, 210);
}
.header:after {
  position: absolute;
  content: "";
  height: 0.1563rem;
  top: 1.875rem;
  left: 0.3125rem;
  width: 50%;
  background: rgb(0, 10, 108);
  background: linear-gradient(
    90deg,
    rgba(0, 10, 108, 1) 4%,
    rgba(0, 10, 108, 1) 9%,
    rgba(0, 10, 108, 1) 17%,
    rgba(67, 4, 131, 1) 37%,
    rgba(117, 0, 148, 1) 62%,
    rgba(174, 0, 221, 1) 81%
  );

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content {
  font-size: 1rem;
  font-family: 'Playfair', serif;
  color: rgb(169, 169, 169);
}
