.main {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 10;
  /* backdrop-filter: blur(2px); */
}
.nav {
  border-radius: 10px;
  padding: 15px 10px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Fira Code", monospace;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0px 0px 50px 5px #000;
  background-color: #000000;
}
.nav_ul {
  background: -webkit-linear-gradient(#ffffff, #151515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav_ul li {
  cursor: pointer;
  text-transform: uppercase;
}
