.main {
  /* margin-top: -3.125rem; */
  /* position: absolute; */
  /* backdrop-filter: blur(1rem) saturate(0%);
  -webkit-backdrop-filter: blur(1rem) saturate(0%);
  background-color: rgba(17, 25, 40, 0.357); */
  border-radius: 0.75rem;
  border: 0rem solid rgba(0, 0, 0, 0.791);
  width: 70%;
  /* right: 2.5rem; */
  height: 34.375rem;
  /* box-shadow: 0rem 0rem 0.625rem 0.3125rem rgba(21, 21, 21, 0.919);; */
}

