@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair:opsz,wght@5..1200,400;5..1200,500;5..1200,600;5..1200,700&display=swap");
.head1,
.head2 {
  margin-left: 3.125rem;
  font-family: "Playfair", serif;
  padding: 0.625rem;
  padding-bottom: 0.125rem;
}
.head1 {
  text-align: left;
  font-size: 2rem;
  background: -webkit-linear-gradient(#3e3e3e, #151515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head2 {
  padding-bottom:1rem ;
  font-size: 5rem;
  .cover{
    width: 25rem;
    height: 4.0625rem;
    border-radius: 0.3125rem;
    /* margin: 0.3125rem 0rem; */
    position: absolute;
    margin-top: -1.25rem;
    background: #cfcfcf;
  }
  /* font-family: "Inter" sans-serif; */
  /* font-family: 'Playfair', serif; */

  font-weight: 800;
  display: flex;
  flex-direction: column;
  line-height: 2.2rem;
  /* background: rgb(0, 10, 108);
  background: -webkit-linear-gradient(
    rgb(255, 255, 255) 15%,
    rgb(169, 170, 180) 30%,
    rgb(141, 141, 144) 40%,
    rgb(65, 65, 65) 55%,
    rgb(40, 40, 40) 62%,
    rgb(32, 32, 32) 81%
  ); */
  background: rgb(37, 1, 115);
  background: radial-gradient(
    circle,
    rgba(37, 1, 115, 1) 1%,
    rgba(53, 1, 138, 1) 10%,
    rgba(85, 24, 155, 1) 24%,
    rgba(172, 48, 130, 1) 35%,
    rgba(211, 39, 82, 1) 71%,
    rgba(253, 29, 29, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 37.5rem) {
  .head2 {
    font-size: 4.5rem;
  }
  .head1,
  .head2 {
    margin-left: 0rem;
    padding: 0.8rem 1.25rem;
  }
}
